.AuthPage {
    margin-top: 40px;
}

.center-button {
    margin-bottom: 6px;
    padding:5px;
}

header.account-header {
    margin-bottom: 5px;
}

.account-form-button {
    margin-top: 5px;
}

input.form-input {
    margin-bottom: 5px;
}

img.logo {
    width: 38%;
    margin-top: -40px;
    margin-left: 111px;
}